.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 0;
  max-width: 90vw;
  word-wrap: break-word;
  background-color:#986572;
  background-clip: border-box;
  border: none;
  border-radius: .25rem; 
}

.card-body{
  background: #986572;
}

.align-image {
  height:auto;
  position:relative;
  justify-content: center;
  align-items: center; 
}   

#_cf {
  height:100%;
  min-width:50%;
  margin:0 auto;
}

#cf {
  position:relative;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  margin:0 auto;
}
  
#cf img {
  padding:0;
  margin:0;
  width:40vw;
  height:auto;
  position:absolute;
  justify-content: center;
  align-items: center; 
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
  
#cf img.top:hover {
  opacity:0;
}

.card-text, .card-title {
  max-width: 100%;
  min-width: 50%
}

/*
.card {
  background: #986572;
  
}
.card-body{
  background: #986572;
  }



#cf {
  
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
} */