.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin:auto;
    padding-bottom:25%;
  }
  
  .card-carousel .my-card {
    height: auto;
    width: 12rem;
    position: relative;
  
  
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
   
    transition: 1s;
  }
  
  .card-carousel .my-card:after {
    content: '';
    position: relative;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }


  .card-carousel .my-card.active {
    z-index: 3;
    align-content:center;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }
  
  .card-carousel .my-card.prev, .card-carousel .my-card.next {
   
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
  }
    
  .card-carousel .my-card:nth-child(0):before {
    content: url(/assets/img/blacklace.jpg);
    position: relative;
    top: 30%;
    left: 45%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(1):before {
    content: url(/assets/img/purplebudoire.jpg);
    position: relative;
    top: 30%;
    left: 45%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(2):before {
    content: url(/assets/img/headshot.jpg);
    position: relative;
    top: 30%;
    left: 45%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(3):before {
    content: url(/assets/img/whitebudoire.jpg);
    position: relative;
    top: 30%;
    left: 45%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(4):before {
    content: url(/assets/img/reddress.jpg);
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  
  .card-carousel .my-card:nth-child(5):before {
    content: url(/assets/img/stpatricksday.jpg);
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  

  
