/*
Logo Color:#547861;
/////
Barley Corn: #a4a457

Apricot Peach: #fcd1c6

Gray Nurse: #e2e8df

Luxor Gold: #9f7726
//////
Copper Rose: #986572
 
Sprout: #cedfbc
//////
Quicksand: #ba968e

Tana: #d7d7bd

Limed Spruce: #415053

Bay Leaf: #7baf8e
//////
Givry: #f8ddc0

Pablo: #7b7461

Russett: #7d575d

Bright Gray: #363b47
/////
*/

/* 
Font Family 1 (retro-sleek-boho)
font-family: 'Chonburi', 'Lora', 'Oi';  
*/

/* 
Font Family 2 (clean-modern-bold)
font-family: 'Anton', 'Kumbh Sans','Train One'; 
*/

/* css for background image
background-image:url('img/1160.jpg');
background-attachment: fixed;
background-position: center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
*/

/* 
Blur effect for images
filter: blur(4px); 
*/
#footer a {
    /* color:#f8ddc0 !important; */
    list-style-type: none !important; 
    text-decoration: none !important; 
    background-color: transparent !important; 
}

#footer a:hover {
  list-style-type:none !important;
  text-decoration: none !important;
}

body {
  
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color:  #E8dcbc;
    background-image:url('/assets/logo/logo2.1.svg');
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
    -webkit-background-size: 75%;
    -moz-background-size: 75%;
    -o-background-size: 75%;
    background-repeat:no-repeat;
    -webkit-background-size: no-repeat;
    -moz-background-size: no-repeat;
    -o-background-size: no-repeat;
}

.btn {
    background-color:#ba968e;
}

.navbar, .btn button{
    background-image: linear-gradient(#99667294,#f8ddc294, #f8ddc000);
	  background: -webkit-linear-gradient(#98657294,#f8ddc294, #f8ddc000);
    /* background-color:#5c72ee; */
}

#content{
    display:inline-block;
    align-content: center;  
    text-align:center;
    padding:0;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  /* font-size: 120px; */
  line-height: .75;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}

p, a, label, input, textarea, td, th, h4, h2, h3, h5, h6, header, div {
    text-align:center;
    padding: 10px;
}

p, a, label, input, textarea, td, th, h4, h2, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif) !important;
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-shadow:1px 3px 20px #986572;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Kumbh Sans', 'Anton', 'Train One'; 
}

p, a, label, input, textarea, td, th, nav, h4, h2, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn :hover {
    color:#f8ddc0 !important;
    text-shadow:3px 1px 20px #986572;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

/* .font-change:hover {
    color:#f8ddc0;
    text-shadow:1px 3px 30px #986572;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Anton', 'Kumbh Sans','Train One'; 
} */


  /* footer */

.footer {
  background:#986572;
}
/*   

  color:#f8ddc0;  
  text-align: center;
  padding: .2em;
  font-size: var(--fs-h3);


.footer, .footer-links a { 
  color:#f8ddc0;
  text-decoration: none;
}

.footer, .footer-links a:hover { 
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: none;
}

.social-list {
  list-style-type:none ;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
  display: flex;
}

.social-list__social-link {
  padding: .5em;
} */

/* Contact Form */
/* 
form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control{
  width: 80vw;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 10vh;
}

form .submit{
  background: #ba968e;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover{
  background-color: #986572;
  cursor: pointer;
} */
