/*
/////
Barley Corn: #a4a457

Apricot Peach: #fcd1c6

Gray Nurse: #e2e8df

Luxor Gold: #9f7726
//////
Copper Rose: #986572

Sprout: #cedfbc
//////
Quicksand: #ba968e

Tana: #d7d7bd

Limed Spruce: #415053

Bay Leaf: #7baf8e
//////
Givry: #f8ddc0

Pablo: #7b7461

Russett: #7d575d

Bright Gray: #363b47
/////
*/

/* 
Font Family 1 (retro-sleek-boho)
font-family: 'Chonburi', 'Lora', 'Oi';  
*/

/* 
Font Family 2 (clean-modern-bold)
font-family: 'Anton', 'Kumbh Sans','Train One'; 
*/

/* css for background image
background-image:url('img/1160.jpg');
background-attachment: fixed;
background-position: center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
*/

/* 
Blur effect for images
filter: blur(4px); 
*/
a {
    padding:0;
    margin:0;
}
body {
    margin:0;
    min-height: 100vh;
}
.btn {
    background-color:#ba968e;
}
.navbar, .btn button{
    background-image: linear-gradient(#7baf8e,#986572,#f8ddc0, #f8ddc000);
	background: -webkit-linear-gradient(#7baf8e,#986572,#f8ddc0, #f8ddc000);
    /* background-color:#5c72ee; */
}
#content{
    display:inline-block;
    align-content: center;
    text-align:center;
    padding:5, 10;
}

p, a, label, input, textarea, td, th, h4, h2, h1, h3, h5, h6, header, div {
    text-align:center;
    padding:10px;
}

p, a, label, input, textarea, td, th, nav, h4, h2, h1, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn{
    color:#415053;
    text-shadow:1px 3px 30px #986572;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Chonburi', 'Lora', 'Oi'; 
}

p, a, label, input, textarea, td, th, nav, h4, h2, h1, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn :hover {
    color:#415053;
    text-shadow:1px 3px 30px #986572;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.font-change:hover {
    color:#415053;
    text-shadow:1px 3px 30px #986572;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Anton', 'Kumbh Sans','Train One'; 
}

figure.effect-ruby {
    background-color: #17819c;
  }
  
  figure.effect-ruby img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  
  figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  figure.effect-ruby h2 {
    margin-top: 20%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
  }
  
  figure.effect-ruby p {
    margin: 1em 0 0;
    padding: 3em;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
  } 
  
  figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  figure.effect-ruby:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
  }


  /* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);

}

.footer a { 
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style:none ;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}
