/*

Logo Color:#547861;

Copper Rose: #986572;

Givry: #f8ddc0;

*/

#footer a {
    /* color:#f8ddc0 !important; */
    list-style-type: none !important; 
    text-decoration: none !important; 
    background-color: transparent !important; 
}

#footer a:hover {
  list-style-type:none !important;
  text-decoration: none !important;
}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color:  #E8dcbc;
    background-image:url('/assets/logo/logo2.1.svg');
    background-attachment: fixed;
    background-position: center;
    background-size: 75%;
    -webkit-background-size: 75%;
    -moz-background-size: 75%;
    -o-background-size: 75%;
    background-repeat:no-repeat;
    -webkit-background-size: no-repeat;
    -moz-background-size: no-repeat;
    -o-background-size: no-repeat;
    overflow-x: hidden;
}

.btn {
    background-color:#ba968e;
}

.navbar, .btn button{
    background-image: linear-gradient(#99667294,#f8ddc294, #f8ddc000);
	  background: -webkit-linear-gradient(#98657294,#f8ddc294, #f8ddc000);
    /* background-color:#5c72ee; */
}

/* 
.navbar-light .navbar-toggler {
  color:#986572 !important;
  text-shadow:1px 3px 20px #f8ddc0 !important;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


.navbar-light .navbar-toggler-icon {
  background-image:url('/assets/logo/logo2.1.svg');
} */

#content{
    display:inline-block;
    align-content: center;  
    text-align:center;
    padding:0;
}

h1, h4, h2, h3, h5, h6 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-shadow:1px 3px 20px #986572 !important;
  text-transform: uppercase;
  /* font-size: 120px; */
  line-height: 1.5;
  margin: 10px 0;
  font-family: 'Kumbh Sans', 'Anton', 'Train One'; 
}

a, p, i, td, th, li, ::placeholder {
  font-family: 'Kumbh Sans', 'Anton', 'Train One'; 
}

p, i, td, th, li, h1, h4, h2, h3, h5, h6 {
  color: inherit;
}

p, a, label, input, textarea, td, th, h4, h2, h3, h5, h6, header, div {
    text-align:center;
    padding: 10px;
}

/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}

.gif-highlight {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif) !important;
  background-size: cover;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-shadow:1px 3px 20px #986572 !important;
  opacity: 0.5;
}


/* light */
.light-text {
    color:#f8ddc0 !important;
    text-shadow:1px 3px 20px #986572 !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

/* dark */
.dark-text {
  color:#986572 !important;
  text-shadow:1px 3px 20px #f8ddc0 !important;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: 'Kumbh Sans', 'Anton', 'Train One'; 
}

/* light :hover */
.light-text:hover{
    color: #ba988e !important;
    text-shadow:1px 3px 20px #f8ddc0 !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

/* dark :hover */
.dark-text:hover {
  color: #ba988e !important;
  text-shadow:1px 3px 20px #986572 !important;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: 'Kumbh Sans', 'Anton', 'Train One'; 
}


/* footer */

.colored-accent-bkg {
  background:#986572;
}


.social-list {
  list-style-type:none ;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em 0 0;
  padding: 0;
}

/* Contact Form */

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control{
  display:block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 16px;
}

input, ::placeholder {
  height: 10vh;
  width: auto;
}

input, textarea, ::placeholder {
  color: #ba988e;
}


form .submit{
  background: #ba988e;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #986572;
  cursor: pointer;
}

/* Landing Page */

* {
  box-sizing: border-box;
}

.intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1rem;
}

.intro__text {
  color: #986572;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 5em;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: 1em;
  margin-right: -1em;
  transition: all 1s ease;
}
.intro__text.start {
  opacity: 1;
  letter-spacing: 0;
  margin-right: 0;
}
.intro__btn {
  cursor: pointer;
  background: transparent;
  color: #986572;
  outline: none;
  border: #986572 solid 2px;
  border-radius: 5px;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  opacity: 0;
  transform: translate(-100%);
  transition: all 1s ease 1s, background 500ms ease;
}
.intro__btn:hover {
  background: rgba(152, 101, 114, 0.15);
}
.intro__btn:focus {
  outline: none;
}
.intro__btn.start {
  opacity: 1;
  transform: translate(0);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.container-fluid {
  width: 100vw;
  display:block;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}
.container-fluid img {
  width:100%;
}
.container {
  width: 100%;
  height:auto;
  display:block;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
  justify-content: center space-evenly;
}
