.pat {
    background-color:#ffff;
    width: 400px;
    padding: 15px;
    margin: 20px;
    background: #fff;
    background: linear-gradient(to right, #ba968e, transparent 80%);
    --box-shadow-color:#996672;
    box-shadow: 3px 2px 2px var(--box-shadow-color);
    font-size: 60%;
    display: inline-block;
    width: 10%;
}
   
.mat {
    text-align: center;
}