.pat {
    /* width:25%; */
    height:50%;
    padding: 5px;
    margin: 5px;
    background: linear-gradient(to bottom right, #547861, #cab2ac, transparent 80%);
    --box-shadow-color:#996672af;
    box-shadow: 3px 2px 2px var(--box-shadow-color);
    display:inline-block;
    justify-content: space-evenly;
}
   
.mat {
    text-align: center;
}