/* linear-gradient(to bottom right, #547861, #cab2ac 80%)*/

.pat {
    background-color: #B7B7A4; 
   
    box-shadow: 5px 0 7px 0;
    box-shadow: rgba(59, 58, 58, 0.39);
  
  
    margin: 2%;
    padding: 3%;
  
    min-height: 97%;
    min-width: 100%;
}
   
.mat {
    text-align: center;
}