/* old css */

/* 
Font Family 1 (retro-sleek-boho)
font-family: 'Chonburi', 'Lora', 'Oi';  
*/

/* 
Font Family 2 (clean-modern-bold)
font-family: 'Anton', 'Kumbh Sans','Train One'; 
*/

/* css for background image
background-image:url('img/1160.jpg');
background-attachment: fixed;
background-position: center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
*/

/* 
Blur effect for images
filter: blur(4px); 
*/

/* 
  p, a, label, input, textarea, td, th, h4, h2, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn {
    color:#f8ddc0;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif) !important;
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-shadow:1px 3px 20px #986572 !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Kumbh Sans', 'Anton', 'Train One'; 
} 
*/

/* 
p, a, label, input, textarea, td, th, h4, h2, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn:hover {
    color:#f8ddc0;
    text-shadow:3px 1px 20px #986572 !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
} 
*/


/* 
.font-change:hover {
    color:#f8ddc0;
    text-shadow:1px 3px 30px #986572;   
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Anton', 'Kumbh Sans','Train One'; 
} 
*/


/* footer */

/*   

  color:#f8ddc0;  
  text-align: center;
  padding: .2em;
  font-size: var(--fs-h3);


.footer, .footer-links a { 
  color:#f8ddc0;
  text-decoration: none;
}

.footer, .footer-links a:hover { 
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: none;
}
*/


/* .social-list {
    list-style-type:none ;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2em 0 0;
    padding: 0;
  } */

  /*
  .social-list__item {
    margin: 0 .5em;
    display: flex;
  }
  
  .social-list__social-link {
    padding: .5em;
  } */
  
