/* old css */
/* 
/////
Barley Corn: #a4a457

Apricot Peach: #fcd1c6

Gray Nurse: #e2e8df

Luxor Gold: #9f7726
//////
 
Sprout: #cedfbc

//////
Quicksand: #ba968e

Tana: #d7d7bd

Limed Spruce: #415053

Bay Leaf: #7baf8e
//////

Pablo: #7b7461

Russett: #7d575d

Bright Gray: #363b47
///// 
*/

/* 
Font Family 1 (retro-sleek-boho)
font-family: 'Chonburi', 'Lora', 'Oi';  
*/

/* 
Font Family 2 (clean-modern-bold)
font-family: 'Anton', 'Kumbh Sans','Train One'; 
*/

/* css for background image
background-image:url('img/1160.jpg');
background-attachment: fixed;
background-position: center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
*/

/* 
Blur effect for images
filter: blur(4px); 
*/

/* 
  p, a, label, input, textarea, td, th, h4, h2, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn {
    color:#f8ddc0;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif) !important;
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-shadow:1px 3px 20px #986572 !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Kumbh Sans', 'Anton', 'Train One'; 
} 
*/

/* 
p, a, label, input, textarea, td, th, h4, h2, h3, h5, h6, header, li,
 .navbar-brand, .nav-link, .btn:hover {
    color:#f8ddc0;
    text-shadow:3px 1px 20px #986572 !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
} 
*/


/* 
.font-change:hover {
    color:#f8ddc0;
    text-shadow:1px 3px 30px #986572;   
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Anton', 'Kumbh Sans','Train One'; 
} 
*/


/* footer */

/*   

  color:#f8ddc0;  
  text-align: center;
  padding: .2em;
  font-size: var(--fs-h3);


.footer, .footer-links a { 
  color:#f8ddc0;
  text-decoration: none;
}

.footer, .footer-links a:hover { 
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: none;
}
*/


/* .social-list {
    list-style-type:none ;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2em 0 0;
    padding: 0;
  } */

  /*
  .social-list__item {
    margin: 0 .5em;
    display: flex;
  }
  
  .social-list__social-link {
    padding: .5em;
  } */
  
/* /////////

mystyle2.css

/*
.navbar-light .navbar-toggler {
  color:#986572 !important;
  text-shadow:1px 3px 20px #f8ddc0 !important;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


.navbar-light .navbar-toggler-icon {
  background-image:url('/assets/logo/logo2.1.svg');
} 

body{
  margin: 0;
  padding: 0;
  text-align: center; 
  background: linear-gradient(rgb(#986572),rgba(#986572)),url(flo.jpg.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif; 
}
.contact-title{
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact-title h1{
  font-size: 32px; 
  line-height: 10px;
}
.contact-title h2{
  font-size: 16px;
}
form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
  
}

input{
  height: 45px;
}

form .submit{
  background: blanchedalmond;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #b30b67;
  cursor: pointer;
} */
